@tailwind base;
@tailwind components;
@tailwind utilities;

.App {
  font-family: sans-serif;
  text-align: center;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body{
  font-family: 'Lato', sans-serif;
  background-image: url("https://images.pexels.com/photos/243022/pexels-photo-243022.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.parpadeante{
  animation: parpadeante 1.5s infinite;
}

@keyframes parpadeante {
  0% {
     opacity: 0;
     }
  60% {
     opacity: 1; 
     }
  100% {
     opacity: 0; }

}